<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="mobile">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wiple</ion-title>
    <ion-buttons *ngIf="!mobile" end>
      <span *ngIf="cp">
        <button ion-button icon-only (click)="handleDebtsClick()">
          <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
        </button>
        <button ion-button icon-only (click)="handleNewExpenseClick()">
          <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
        </button>
      </span>
      <button ion-button icon-only (click)="handleProfileClick($event)">
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="mobile" end>
      <button ion-button icon-only (click)="handleNewExpenseClick()">
        <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div [ngSwitch]="mobile">
    <ion-row *ngSwitchCase="false" justify-content-around class="pc-content">
      <ion-col col-3 class="user-column" [style.maxHeight]="content.contentHeight+'px'">
        <div class="img-div">
          <img [src]="firstUser|async|profilePic:300" alt="" class="photo">
        </div>
        <h3 class="display-name">{{(firstUser|async)?.displayName}}</h3>
        <user-stats [expenses]="expenses|async" [position]="'first'">
        </user-stats>
      </ion-col>
      <ion-col col-5>
        <h3 class="title">Expense</h3>
        <pc-datetime 
          [dateTime]="dateTime"
          [timeInterval]="timeInterval"
          (changeTimeInterval)="changeTimeInterval($event)">
        </pc-datetime>
        <h3 class="total">Total: $ {{expenses | async | totalExpense:'integrate'}}</h3>
        <hr>
        
        <div class="integrate-stats-div" #pcIntegrateStats [style.maxHeight]="content.contentHeight-pcIntegrateStats.offsetTop+'px'">
          <integrate-stats 
            [expenses]="expenses | async" 
            [timeInterval]="timeInterval" 
            (scrollToCategory)="scrollToCategory($event)">
          </integrate-stats>
        </div>
        
      </ion-col>
      <ion-col col-3 class="user-column" [style.maxHeight]="content.contentHeight+'px'">
        <div class="img-div">
          <img [src]="secondUser|async|profilePic:300" alt="" class="photo">
        </div>
        <h3 class="display-name">{{(secondUser|async)?.displayName}}</h3>
        <user-stats [expenses]="expenses|async" [position]="'second'">
        </user-stats>
      </ion-col>
    </ion-row>
    <div *ngSwitchCase="true" class="mobile-content">
      <mobile-datetime
        [dateTime]="dateTime" 
        [timeInterval]="timeInterval" 
        (changeTimeInterval)="changeTimeInterval($event)">
      </mobile-datetime>
      <mobile-switch-bar
        [firstUser]="firstUser|async"
        [secondUser]="secondUser|async"
        [select]="mobileSelect"
        (switchMobileSelect)="mobileSelect = $event"
        [expenses]="expenses|async">
      </mobile-switch-bar>
      <div class="integrate-stats-div" #mobileIntegrateStats [style.maxHeight]="content.contentHeight-mobileIntegrateStats.offsetTop+'px'">
        <integrate-stats *ngIf="mobileSelect==='integrate'"
          [expenses]="expenses | async"
          [timeInterval]="timeInterval"
          (scrollToCategory)="scrollToCategory($event)">
        </integrate-stats>
      </div>
      <user-stats *ngIf="mobileSelect !== 'integrate'"
        [expenses]="expenses|async"
        [position]="mobileSelect">
      </user-stats>
    </div>
  </div>
</ion-content>
