<div class="edit-expense-phase-one" [@phaseState] = "state">
  <form [formGroup]="oneForm" (ngSubmit)="onSubmit()">
    <ng-datepicker formControlName="date" [options]="datepickerOptions"></ng-datepicker>
    <category-icon *ngFor="let category of categories"
      [button]="true" [category]="category"
      [selected]="oneForm.get('category').value === category"
      (click)="handleCategoryClick(category)">
    </category-icon>
    <h3 class="category">Category:
      <span>{{oneForm.get('category').value}}</span>
    </h3>
    <span class="form-errors" *ngIf="oneForm.get('description').invalid && submitTried">
      * Description is required
    </span>
    <ion-input placeholder="Description" formControlName="description"></ion-input>
    <button class="round-btn" ion-button color="wiple-blue" full>
      Continue
    </button>
  </form>
</div>