<div class="edit-expense-phase-one" [@phaseState] = "state">
  <form [formGroup]="firstForm" (ngSubmit)="onSubmit()">
    <ng-datepicker formControlName="dateTime" [options]="'day' | datePickerOption"></ng-datepicker>
    <category-icon *ngFor="let category of categories"
      [button]="true" [category]="category"
      [selected]="firstForm.get('category').value === category"
      (click)="handleCategoryClick(category)">
    </category-icon>
    <h3 class="category">Category:
      <span>{{firstForm.get('category').value}}</span>
    </h3>
    
    <ion-item no-lines>
      <ion-input placeholder="Description" formControlName="description"
        [ngClass]="{'error': firstForm.get('description').invalid && submitTried}">
      </ion-input>
    </ion-item>
    <button class="round-btn" ion-button color="wiple-blue" full>
      Continue
    </button>
  </form>
</div>