pc-datetime {
  div.date-picker-section {
    min-height: 45px;
    display: flex;
    align-items: center;
    my-date-picker {
      div.selector {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    ion-item {
      color: map-get($colors, gray-text) !important;
      padding: unset !important;
      div.item-inner {
        padding: unset !important;
        div.input-wrapper {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  input[_ngcontent-c0] {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    border: none !important;
  }
  div.ngx-datepicker-calendar-container {
    left: 50% !important;
    transform: translateX(-50%);
  }
  
  div.segment {
    width: 100%;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    div.buttons {
      width: 70%;
      margin: auto;
      display: flex;
      button {
        color: map-get($colors, gray-text);
        background-color: white;
        padding: 0;
        width: 34%;
        height: 30px;
        font-size: 1.5rem;
        transition: background-color 0.2s ease;
        border-radius: 0;
        &.selected {
          background-color: map-get($colors, button-select);
        }
        &:hover {
          background-color: map-get($colors, button-hover);
        }
      }
    }
  }
}
