<div class="date-picker-section">
  <my-date-picker *ngIf="timeInterval === 'day'" #mydp="mydatepicker" 
    [options]="datepickerOptions" [(ngModel)]="model" (ngModelChange)="onDateChange($event)">
  </my-date-picker>
  <ion-item no-lines *ngIf="timeInterval === 'year' || timeInterval === 'month'">
    <ion-select [(ngModel)]="month" *ngIf="timeInterval === 'month'" (ngModelChange)="onMonthChange($event)">
      <ion-option [value]="0">January</ion-option>
      <ion-option [value]="1">February</ion-option>
      <ion-option [value]="2">March</ion-option>
      <ion-option [value]="3">April</ion-option>
      <ion-option [value]="4">May</ion-option>
      <ion-option [value]="5">June</ion-option>
      <ion-option [value]="6">July</ion-option>
      <ion-option [value]="7">August</ion-option>
      <ion-option [value]="8">September</ion-option>
      <ion-option [value]="9">October</ion-option>
      <ion-option [value]="10">November</ion-option>
      <ion-option [value]="11">December</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="year" (ngModelChange)="onYearChange($event)">
      <ion-option [value]="year" *ngFor="let year of yearRange|yearRange">{{year}}</ion-option>
      <ion-option [value]="2018">2018</ion-option>
    </ion-select>
  </ion-item>
</div>


<div class="segment">
  <div class="buttons">
    <button (click)="changeType('year')" [ngClass]="{'selected': timeInterval === 'year'}">Year</button>
    <button (click)="changeType('month')" [ngClass]="{'selected': timeInterval === 'month'}">Month</button>
    <button (click)="changeType('day')" [ngClass]="{'selected': timeInterval === 'day'}">Day</button>
  </div>
</div>